body {
    font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
    font-size: 12px;
    background-color: #ECECEC !important;
    /* background-color: #ad3e3e !important; */
    background-repeat: repeat-x;
    background-position: center top;
    margin: 0px;
    background-attachment: fixed;
    height: 100vh;
    overflow-x: hidden;
}

form ul{
    list-style: none !important;
    padding: 0;
}